<div class="djanterest_header">
  <div>
    <h1 class="djanterest_logo">Djanterest</h1>
  </div>
  <div>
    <span>nav1</span>
    <span>nav2</span>
    <span>nav3</span>
    {% if user.is_authenticated %}
      <form action="{% url 'accountapp:logout' %}" method="post" style="display: inline;">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.path }}">
        <button type="submit" style="border: none; background: none; padding: 0; margin: 0; cursor: pointer;">
          <span>logout</span>
        </button>
      </form>
    {% else %}
      <a href="{% url 'accountapp:login' %}?next={{ request.path }}">
        <span>login</span>
      </a>
    {% endif %}

  </div>
</div>